$white:#FFFFFF;
$black: #202631;

$component-color1: #F8F8FC;
$component-color2:#7279FF;
$component-color2-darken: #585FE8;
$component-color3:#E5E3F0;
$component-color4:#F1F2F4;
$component-color5:#797C83;
$component-color6:#7FBCF3;
$component-color6-light:#E9F2FC;
$component-color7:#F6D58A;
$component-color7-light:#FFF6E0;
$component-color8:#F79F77;
$component-color8-light:#FDF2EB;
$component-color9:#80C78B;
$component-color9-light:#F0F9F4;
$component-color10:#7279FF4D;
$component-color11:#585FE84D;
$component-color12:#B5B5B5;
$component-color13:#C4B9FF;
$component-color14:#E2E9ED;
$component-color15:#AFB5B8;
$component-color16:#9ACFFF;
$component-color17:#FFD982;
$component-color18:#FF97BB;
$component-color19:#A08DFF;
$component-color20:#69A572;
$component-color21:#E9E9E9;

$error-red: #E74C3C;

$fb-color: #39579A;
$google-color: #D54B3D;