$white:#FFFFFF;
$black: #202631;

$component-color1: #F8F8FC;
$component-color2:#7279FF;
$component-color3:#E5E3F0;
$component-color4:#F1F2F4;
$component-color5:#797C83;

$error-red: #E74C3C;

$fb-color: #39579A;
$google-color: #D54B3D;