@mixin font-face($font-family, $url) {
    @font-face {
      font-family: '#{$font-family}';
      src: url('#{$url}.eot');
      src: url('#{$url}.eot?#iefix') format('embedded-opentype'),
      url('#{$url}.svg') format('svg'),
      url('#{$url}.ttf') format('truetype'),
      url('#{$url}.woff') format('woff'),
      url('#{$url}.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }
  }

  @include font-face('firagoBold', '../fonts/FiraGO-Bold');
  @include font-face('firagoSemiBold', '../fonts/FiraGO-SemiBold');
  @include font-face('firagoMedium', '../fonts/FiraGO-Medium');
  @include font-face('firagoRegular', '../fonts/FiraGO-Regular');
  @include font-face('firagoExtraBold', '../fonts/FiraGO-ExtraBold');
  
  // Fonts
  $fonts: 'firagoRegular';
  
  $firagoBold: 'firagoBold';
  $firagoSemiBold: 'firagoSemiBold';
  $firagoMedium: 'firagoMedium';
  $firagoRegular: 'firagoRegular';
  $firagoExtraBold: 'firagoExtraBold';
  
  .firagoSemiBold{
    font-family: $firagoSemiBold;
  }
  .firagoBold{
    font-family: $firagoBold;
  }
  .firagoMedium{
    font-family: $firagoMedium;
  }
  .firagoRegular{
    font-family: $firagoRegular;
  }
  .firagoExtraBold{
    font-family: $firagoExtraBold;
  }
  
  
  