$breakpoint-xxl: "only screen and (min-width:1700px)";
$breakpoint-xl-ex: "only screen and (min-width:1400px)";
$breakpoint-xl: "only screen and (min-width:1200px)";
// $breakpoint-xl-sm: 'only screen and (min-width:1024px)';
$breakpoint-lg: "only screen and (min-width:991px)";
$breakpoint-md: "only screen and (min-width:768px)";
$breakpoint-sm: "only screen and (min-width:576px)";
$breakpoint-xs: "only screen and (min-width:480px)";
$breakpoint-xxs: "only screen and (min-width:320px)";

// @media only screen and (min-width: 1200px){
//   .container{
//     // max-width: 1400px;
//     max-width: 1880px;
//   }
// }
// @media only screen and (min-width: 1400px) {
//   .container {
//     // max-width: 1700px;
//     max-width: 1639px;
//   }
// }

.container {
  @media only screen and (min-width: 1200px) {
    max-width: 1158px;
  }
  @media only screen and (min-width: 1400px) {
    max-width: 1639px;
  }
}
