// $sidebar-width: 320px;
// $sidebar-width-md: 240px;

// $navbar-height: 80px;
// $navbar-height-lg: 70px;
// $navbar-height-md: 65px;



// //toggle button
// $switchTransition:.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
// //*************
