.footer{
    background-color: $component-color1;
    padding: 34px 0;
    &__bottom{
        margin-top: 30px;
    }
    &__text{
        font-family: $firagoRegular;
        font-size: 12px;
        color: rgba($color: $black, $alpha: 0.6);
        margin-bottom: 0;
        &.black{
            color: $black;
            @media #{$breakpoint-xxl} {
                font-size: 14px;
            }
        }
    }
    &__contact{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &__icon{
            display: flex;
            align-items: center;
            .icon{
                height: 16px;
                width: 18px;
                fill: $black;
            }
        }
    }
    &__item{
        margin-left: 20px;
        @media #{$breakpoint-xxl} {
            margin-left: 30px;
        }
    }
    &__link{
        color: $black;
        font-family: $firagoRegular;
        font-size: 16px;
    }
    &__line{
        width: 2px;
        height: 20px;
        background: rgba($color: $black, $alpha: 0.3);
    }
}