.footer {
    background-color: $component-color1;
    padding: 34px 0;
    &__top__img {
        margin: auto;
        display: block;
        max-width: 100%;
        @media #{$breakpoint-md} {
            margin: 0;
        }
    }
    &__bottom {
        margin-top: 30px;
    }
    &__text {
        font-family: $firagoRegular;
        font-size: 12px;
        color: rgba($color: $black, $alpha: 0.6);
        margin-bottom: 34px;
        @media #{$breakpoint-md} {
            margin-bottom: 0;
        }
        &.black {
            color: $black;
            margin-bottom: 21px;
            @media #{$breakpoint-md} {
                margin-bottom: 0;
            }
            @media #{$breakpoint-xxl} {
                font-size: 14px;
            }
        }
    }
    &__contact {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        @media #{$breakpoint-md} {
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
        }
        &.center {
            align-items: center;
            flex-direction: row;
            margin-bottom: 34px;
            .footer__item{
                margin-left: 20px;
                &:first-child{
                    margin-left: 0;
                }
                @media #{$breakpoint-xxl} {
                    margin-left: 30px;
                }
            }
            .footer__line{
                display: block;
            }
        }
        &.left {
            flex-direction: column;
            @media #{$breakpoint-md} {
                flex-direction: row;
            }
        }
        &__icon {
            display: flex;
            align-items: center;
            .icon {
                height: 16px;
                width: 18px;
                fill: $black;
            }
        }
    }
    &__item {
        @media #{$breakpoint-md} {
            margin-left: 20px;
        }
        @media #{$breakpoint-xxl} {
            margin-left: 30px;
        }
        &.mobile-none{
            display: none;
            @media #{$breakpoint-md} {
                display: block;
            }
        }
        &.mobile-block{
            display: block;
            @media #{$breakpoint-md} {
                display: none;
            }
        }
        // &-flex {
        //     display: flex;
        //     position: relative;
        //     &.row-reverse {
        //         flex-direction: row-reverse;
        //         @media #{$breakpoint-xl-ex} {
        //             flex-direction: row;
        //         }
        //     }
        //     .footer__item {
        //         margin: 0;
        //         @media #{$breakpoint-xl-ex} {
        //             margin: 0 0 0 20px;
        //         }
        //         &.footer__text{
        //             margin: 0 20px;
        //             @media #{$breakpoint-xl-ex} {
        //                 margin: 0 0 0 20px;
        //             }
        //         }
        //     }
        //     .footer__line{
        //         position: absolute;
        //         height: 200px;
        //         top: 0;
        //         @media #{$breakpoint-xl-ex} {
        //             height: 20px;
        //         }
        //     }
        // }
    }
    &__link {
        color: $black;
        font-family: $firagoRegular;
        font-size: 16px;
    }
    &__line {
        width: 2px;
        height: 20px;
        background: rgba($color: $black, $alpha: 0.3);
        display: none;
        @media #{$breakpoint-md} {
            display: block;
        }
    }
}
