.form {
    text-align: left;
    color: $black;
    &__section {
        margin: 20px auto 60px;
        text-align: center;
        width: 100%;
        max-width: 526px;
        &__title {
            font-size: 55px;
            color: $black;
            font-family: $firagoBold;
            margin-bottom: 34px;
        }
        &__text {
            font-family: $firagoRegular;
            font-size: 21px;
            color: $component-color2;
            &__line {
                border-bottom: 2px dashed $component-color2;
                line-height: 0.1em;
                margin: 55px auto;
                span {
                    background-color: $white;
                    padding: 0 50px;
                }
            }
            &-sm {
                color: $black;
                font-size: 16px;
                font-family: $firagoRegular;
                &-link {
                    color: $component-color2;
                    text-decoration: underline;
                    .icon {
                        stroke: $component-color2;
                        width: 12px;
                        height: 12px;
                        text-decoration: none;
                        margin-left: 10px;
                    }
                }
            }
        }
        &__btn {
            &-cont {
                display: flex;
                flex-direction: column;
            }
            &-social {
                width: 100%;
                background: gray;
                margin-bottom: 21px;
                font-size: 16px;
                font-family: $firagoMedium;
                color: $white;
                padding: 10px 0;
                position: relative;
                border-radius: 8px;
                transition: 0.3s;
                .icon {
                    height: 22px;
                    width: 22px;
                    fill: $white;
                    position: absolute;
                    left: 12px;
                }
                &.fb {
                    background-color: $fb-color;
                    &:hover {
                        color: $white;
                        text-decoration: none;
                        background-color: darken($fb-color, 5%);
                    }
                }
                &.google {
                    background-color: $google-color;
                    &:hover {
                        color: $white;
                        text-decoration: none;
                        background-color: darken($google-color, 5%);
                    }
                }
            }
        }
    }
    &-group {
        margin-bottom: 15px;
    }
    &__label {
        font-family: $firagoMedium;
        font-size: 16px;
        margin-bottom: 7px;
        &.error {
            color: $error-red;
        }
        &.required {
            &:after {
                content: "*";
                color: $error-red;
                margin-left: 5px;
            }
        }
    }
    &__input {
        border-radius: 8px;
        border: 1px solid $component-color2;
        color: $black;
        font-size: 16px;
        font-family: $firagoRegular;
        &::-webkit-input-placeholder {
            color: rgba($color: $black, $alpha: 0.3);
        }
        &::-moz-placeholder {
            color: rgba($color: $black, $alpha: 0.3);
        }
        &:-ms-input-placeholder {
            color: rgba($color: $black, $alpha: 0.3);
        }
        &:-moz-placeholder {
            color: rgba($color: $black, $alpha: 0.3);
        }
        &:focus::placeholder {
            color: transparent;
        }
        &-relative {
            position: relative;
            .icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 22px;
                height: 22px;
                stroke: $component-color2;
                fill: $white;
                cursor: pointer;
            }
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &__link {
            font-family: $firagoRegular;
            font-size: 16px;
            color: $black;
            text-decoration: underline;
        }
        &__btn {
            border-radius: 8px;
            padding: 10px 100px;
            height: 40px;
            line-height: 1;
            display: block;
            text-align: center;
            &:focus {
                outline: none;
            }
            &-sm {
                max-width: 200px;
            }
        }
    }
    .invalid-feedback {
        color: $error-red;
        font-size: 13px;
        font-family: $firagoRegular;
    }
    &__error__message {
        font-size: 13px;
        font-family: $firagoRegular;
        color: $error-red;
        text-align: center;
        margin-top: 30px;
        display: none;
        &.active {
            display: block;
        }
    }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: $error-red;
    & + .icon {
        top: 20px;
    }
}

/*dropdown*/
.dropdown__elem {
    transition: 0.3s;
    position: relative;
    width: 50px;
    border: 2px solid transparent;
    background: $white;
    border-bottom: 0;
    &.form-select {
        width: 100%;
        border-radius: 8px;
        border: 1px solid $component-color2;
        color: $black;
        font-size: 16px;
        font-family: $firagoRegular;
        &.open {
            border-bottom: transparent;
        }
        .dropdown__elem {
            &--inner {
                justify-content: space-between;
                .icon {
                    stroke: $component-color2;
                    fill: $component-color2;
                    width: 12px;
                }
                span {
                    color: rgba($color: $black, $alpha: 0.3);
                }
            }
        }
        .dropdown {
            width: 100.8%;
            &__item {
                margin: 5px 10px;
                text-align: left;
                padding: 0 10px;
                color: $component-color2;
                font-family: $firagoMedium;
                font-size: 13px;
                border-radius: 8px;
                &:hover {
                    background-color: $component-color2;
                    color: $white;
                }
            }
        }
    }
    &--inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        font-family: $firagoRegular;
        .text--active {
            transition: 0.6s;
            color: $black;
            line-height: 2;
        }
        .icon {
            fill: $black;
            transition: 0.6s;
            width: 8px;
            height: 8px;
            margin-left: 7px;
        }
    }
    &.open {
        border-left: 2px solid $component-color2;
        border-top: 2px solid $component-color2;
        border-right: 2px solid $component-color2;
        border-radius: 8px 8px 0 0;
        .dropdown__elem--inner .icon {
            transform: rotate(180deg);
        }
    }
}
.dropdown {
    position: absolute;
    left: -2px;
    z-index: 1;
    background: $white;
    top: calc(100%-2px);
    -webkit-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.26);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    border: 2px solid transparent;
    border-top: 0;
    &.open {
        opacity: 1;
        visibility: visible;
        border-left: 2px solid $component-color2;
        border-bottom: 2px solid $component-color2;
        border-right: 2px solid $component-color2;
        border-radius: 0 0 8px 8px;
        left: -2px;
    }
    &__nav {
        width: 100%;
        .dropdown__item {
            list-style-type: none;
            text-align: center;
            cursor: pointer;
            line-height: 2;
            font-family: $firagoRegular;
            color: $black;
            font-size: 16px;
            transition: 0.3s;
            &:hover {
                background: rgba(96, 112, 190, 0.14);
            }
        }
    }
}
/*dropdown*/

/*dropdown for sorting*/
.dropdown__elem.form-select {
    &.sort {
        width: 165px;
        border: none;
        .dropdown {
            &__elem {
                &--inner {
                    font-family: $firagoMedium;
                    span {
                        color: $black;
                        font-size: 13px;
                    }
                    .icon {
                        fill: $black;
                        stroke: $black;
                        width: 10px;
                    }
                }
            }
            &__item {
                color: rgba($color: $black, $alpha: 0.6);
                &:hover {
                    color: $black;
                    border-radius: 8px;
                    background-color: $component-color4;
                }
            }
            &.open {
                border: 2px solid $component-color2;
                border-radius: 8px;
            }
        }
    }
}

/*dropdown for sorting*/

// custom checkbox

.checkbox {
    &-container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 18px;
        cursor: pointer;
        font-family: $firagoMedium;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 14px;
        @media #{$breakpoint-xxl} {
            font-size: 16px;
        }
        &:hover input ~ .checkmark {
            background-color: #ccc;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                background-color: $component-color2;
                &:after {
                    display: block;
                }
            }
        }
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            border-radius: 2px;
            background-color: $component-color3;
            border: 1px solid $component-color2;
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 6px;
                top: 2px;
                width: 7px;
                height: 12px;
                border: solid $white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    &-link {
        color: $component-color2;
        text-decoration: underline;
    }
}

// custom radio button

.radiobutton__container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-family: $firagoMedium;
    color: rgba($color: $black, $alpha: 0.6);
    user-select: none;
    &:first-child {
        margin-right: 50px;
    }
    &:hover input ~ .checkmark {
        background-color: $component-color1;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        &:checked ~ .checkmark {
            background-color: $white;
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $component-color3;
        border: 1px solid $component-color2;
        border-radius: 50%;
        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $component-color2;
        }
    }
}
