.form {
    text-align: left;
    color: $black;
    &__section {
        margin: 20px auto 0;
        text-align: center;
        width: 100%;
        max-width: 526px;
        &__title {
            font-size: 55px;
            color: $black;
            font-family: $firagoBold;
            margin-bottom: 34px;
        }
        &__text {
            font-family: $firagoRegular;
            font-size: 21px;
            color: $component-color2;
            &__line {
                border-bottom: 2px dashed $component-color2;
                line-height: 0.1em;
                margin: 55px auto;
                span{
                    background-color: $component-color1;
                    padding: 0 50px;
                }
            }
            &-sm{
                color: $black;
                font-size: 16px;
                font-family: $firagoRegular;
                &-link{
                    color: $component-color2;
                    text-decoration: underline;
                    .icon{
                        stroke: $component-color2;
                        width: 12px;
                        height: 12px;
                        text-decoration: none;
                        margin-left: 10px;
                    }
                }
            }
        }
        &__btn{
            &-cont{
                display: flex;
                flex-direction: column;
            }
            &-social{
                width: 100%;
                background: gray;
                margin-bottom: 21px;
                font-size: 16px;
                font-family: $firagoMedium;
                color: $white;
                padding: 10px 0;
                position: relative;
                border-radius: 8px;
                transition: .3s;
                .icon{
                    height: 22px;
                    width: 22px;
                    fill: $white;
                    position: absolute;
                    left: 12px;
                }
                &.fb{
                    background-color: $fb-color;
                    &:hover{
                        color: $white;
                        text-decoration: none;
                        background-color: darken($fb-color,5%);
                    }
                }
                &.google{
                    background-color: $google-color;
                    &:hover{
                        color: $white;
                        text-decoration: none;
                        background-color: darken($google-color,5%);
                    }
                }
            }
        }
    }
    &__label {
        font-family: $firagoMedium;
        font-size: 16px;
        &.error{
            color: $error-red;
        }
    }
    &__input {
        border-radius: 8px;
        border: 1px solid $component-color2;
        color: $black;
        font-size: 16px;
        font-family: $firagoRegular;
        &-relative {
            position: relative;
            .icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 22px;
                height: 22px;
                stroke: $component-color2;
                fill: $white;
                cursor: pointer;
            }
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &__link {
            font-family: $firagoRegular;
            font-size: 16px;
            color: $black;
            text-decoration: underline;
        }
        &__btn {
            border-radius: 8px;
            padding: 10px 100px;
            height: 40px;
            line-height: 1;
            &:focus {
                outline: none;
            }
        }
    }
    .invalid-feedback{
        color: $error-red;
        font-size: 13px;
        font-family: $firagoRegular;
    }
    &__error__message{
        font-size: 13px;
        font-family: $firagoRegular;
        color: $error-red;
        text-align: center;
        margin-top: 30px;
        display: none;
        &.active{
            display: block;
        }
    }
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    border-color: $error-red;
    &+.icon{
        top: 20px;
    }
}