.header {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: $white;
    color: $black;
    transition: .8s;
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        transform: translateY(0);
    }
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__logo {
        color: $black;
        font-family: $firagoExtraBold;
        font-size: 16px;
        margin: 0 0 0 10px;
        text-transform: uppercase;
        &__container {
            display: flex;
            align-items: center;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
        &__img {
            height: 40px;
            object-fit: contain;
        }
    }
    &__nav {
        display: flex;
        &__list {
            display: flex;
        }
        &__item {
            list-style-type: none;
            text-decoration: none;
            margin-right: 30px;
            &:hover{
                text-decoration: none;
            }
            &-link{
                font-size: 16px;
                font-family: $firagoMedium;
                color: $black;
                &.active{
                    color: $component-color2;
                }
                &:hover{
                    text-decoration: none;
                }
            }
        }
        &__btn{
            color: $white;
            background-color: $component-color2;
            border-radius: 8px;
            .icon{
                fill: $component-color3;
                width: 16px;
                height: 16px;
            }
        }
        &__search{
            .icon {
                width: 12px;
                height: 12px;
            }
        }
    }
}

/*dropdown*/
.dropdown__elem {
    border-radius: 2px;
    border: 1px solid blue;
    transition: 0.3s;
    position: relative;
    border-radius: 8px;
    &--inner {
        padding: 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .text--active {
            font-size: 14px;
            font-family: $firagoRegular;
            transition: 0.6s;
            color: $black;
            @media (max-width: 1500px) {
                font-size: 12px;
            }
        }
        .icon {
            fill: #0485ea;
            transition: 0.6s;
            transform: rotate(180deg);
            width: 8px;
            height: 8px;
        }
    }
    &.open {
        .dropdown__elem--inner svg {
            transform: rotate(0);
        }
    }
}
.dropdown {
    position: absolute;
    left: 0;
    z-index: 1;
    border: 1px solid blue;
    // background: white;
    width: 100%;
    top: calc(100% + 9px);
    -webkit-box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.26);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    &.open {
        opacity: 1;
        visibility: visible;
    }
    &__nav {
        width: 100%;
        .dropdown__item {
            font-size: 14px;
            font-family: $firagoRegular;
            color: $black;
            padding: 5px 15px;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            @media (max-width: 1500px) {
                font-size: 12px;
            }
            &:hover {
                background: rgba(96, 112, 190, 0.14);
            }
            // &.text-today{
            //     &:before{
            //         content: '23 December';
            //         position: absolute;
            //         left: 70px;
            //         color: yellow;
            //         font-size: 15px;
            //         font-family: $firagoRegular;
            //         @media (max-width: 1500px){
            //             left: 60px;
            //             font-size: 13px;
            //         }
            //         @media #{$breakpoint-xl}{
            //             font-size: 10px;
            //             left: 55px;
            //             top:5px;
            //         }
            //     }
            // }
            // &.text-yesterday{
            //     &:before{
            //         content: '22 December';
            //         position: absolute;
            //         left: 95px;
            //         color: yellow;
            //         font-size: 15px;
            //         font-family: $firagoRegular;
            //         @media (max-width: 1500px){
            //             left: 85px;
            //             font-size: 13px;
            //         }
            //         @media #{$breakpoint-xl}{
            //             font-size: 10px;
            //             left: 80px;
            //             top:5px;
            //         }
            //     }
            // }
        }
        .dropdown__item--custom {
            padding: 11px 15px;
            color: $black;
            font-size: 14px;
            font-family: $firagoRegular;
            border-top: 1px solid blue;
            cursor: pointer;
            transition: 0.3s;
            @media (max-width: 1500px) {
                font-size: 12px;
            }
            &:hover {
                background: rgba(96, 112, 190, 0.14);
            }
        }
    }
}
/*dropdown*/
