.game__modal {
  padding-right: 0 !important;
  &-dialog {
    max-width: 100%;
    margin: 20px;
    // ::-webkit-scrollbar {
    //     width: 8px;
    //     &-track {
    //         box-shadow: inset 0 0 5px grey;
    //         border-radius: 10px;
    //     }
    //     &-thumb {
    //         background: $component-color2;
    //         border-radius: 10px;
    //         &:hover {
    //             background: $component-color2;
    //         }
    //     }
    // }
  }
  &-content {
    min-height: calc(100vh - 40px);
  }
  &-header {
    display: flex;
    justify-content: flex-end;
    padding: 34px;
  }
  &-body {
    max-width: 100%;
    margin: auto;
    padding: 55px 30px 30px 30px;
    @media #{$breakpoint-lg} {
      max-width: 1024px;
    }
    @media #{$breakpoint-xl} {
      max-width: 1326px;
    }
    @media #{$breakpoint-xl-ex} {
      max-width: 1880px;
    }
  }
  &-close {
    width: 40px;
    height: 40px;
    border: 1px solid $component-color2;
    background-color: $white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 1;
    &.center {
      position: absolute;
      left: 50%;
      top: -20px;
      transform: translateX(-50%);
    }
    .icon {
      width: 8px;
      height: 8px;
      transition: 0.3s;
    }
    &:hover {
      background-color: $component-color2;
      .icon {
        fill: $white;
      }
    }
  }
}

.game {
  &__text {
    font-family: $firagoRegular;
    color: $black;
    margin-bottom: 0;
    &.lg {
      font-size: 21px;
    }
    &.md {
      font-size: 16px;
    }
    &.mb-34 {
      margin-bottom: 34px;
    }
  }
  &__title {
    font-family: $firagoBold;
    font-size: 21px;
    color: $black;
    margin-bottom: 0;
    &.mb-34 {
      margin-bottom: 34px;
    }
    &.lg {
      @media #{$breakpoint-md} {
        font-size: 34px;
      }
    }
  }
  &__answer {
    &__drop {
      &__container {
        border: 2px dashed $component-color10;
        border-radius: 16px;
        width: 100%;
        padding: 10px;
        position: relative;
        min-height: 65px;
        &__placeholder {
          font-family: $firagoMedium;
          font-size: 16px;
          color: rgba($color: $black, $alpha: 0.3);
          margin: 0;
          position: absolute;
          z-index: 0;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
        .game__answer__container {
          border-radius: 16px;
          background-color: $component-color2;
          margin-bottom: 0;
          position: relative;
          z-index: 1;
          .game__text {
            color: $white;
          }
        }
      }
    }
    &__container {
      border: 2px solid $component-color11;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      transition: background-color 0.3s;
      background-color: $component-color1;
      @media #{$breakpoint-lg} {
        margin-bottom: 20px;
      }
      &:hover {
        background-color: $component-color2;
        .game__text {
          color: $white;
        }
      }
      &.mr{
        margin-right: 20px;
      }
      &.blue{
        border: 2px solid $component-color6;
        &:hover {
          background-color: $component-color6;
        }
      }
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: $component-color3;
    margin: 34px 0;
    @media #{$breakpoint-lg} {
      margin: 55px 0 34px;
    }
  }
  &__img {
    &__col-relative {
      position: relative;
      display: flex;
      justify-content: center;
      @media #{$breakpoint-md} {
        display: block;
      }
    }
    &__picture {
      position: static;
      @media #{$breakpoint-xl} {
        position: absolute;
        bottom: 32px;
        &.bt-120 {
          bottom: -120px;
        }
      }
    }
    &-dog {
      width: 170px;
      margin-right: 10px;
      max-width: 308px;
      object-fit: contain;
      margin-bottom: 34px;
      @media #{$breakpoint-md} {
        margin-bottom: 0;
      }
      @media #{$breakpoint-lg} {
        width: 180px;
      }
      @media #{$breakpoint-xl} {
        width: 100%;
        margin-right: 0;
      }
    }
    &__btn__row {
      display: flex;
      flex-direction: column-reverse;
      @media #{$breakpoint-md} {
        flex-direction: row;
      }
      &.align-center {
        align-items: center;
      }
    }
  }
  &__button {
    min-width: 202px;
    margin-bottom: 20px;
    margin-right: 0 !important;
    @media #{$breakpoint-md} {
      margin-bottom: 0;
    }
    @media #{$breakpoint-lg} {
      min-width: 248px;
    }
    &.mr {
      @media #{$breakpoint-md} {
        margin-right: 30px !important;
      }
    }
    &__container {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      margin: 0 0 14px;
      &.column {
        flex-direction: column;
        @media #{$breakpoint-md} {
          flex-direction: row;
        }
      }
      @media #{$breakpoint-md} {
        flex-direction: row;
        margin: 55px 0 37px;
        justify-content: flex-end;
      }
      @media #{$breakpoint-lg} {
        justify-content: center;
      }
    }
  }
  &__progress {
    &__cont {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      padding: 10px 20px;
      box-shadow: 0px 0px 30px #2026310d;
      border-radius: 15px;
      @media #{$breakpoint-xl} {
        padding: 23px 30px;
      }
      &-align {
        display: flex;
        justify-content: center;
        align-items: center;
        @media #{$breakpoint-md} {
          justify-content: flex-end;
        }
      }
    }
    &__text {
      font-family: $firagoSemiBold;
      color: $black;
      font-size: 14px;
      margin-bottom: 0;
      margin-right: 20px;
      @media #{$breakpoint-xxs} {
        font-size: 16px;
      }
      @media #{$breakpoint-xl} {
        margin-right: 30px;
      }
      .purple {
        color: $component-color2;
      }
    }
    &__circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      padding: 4px;
      --v: 0deg;
      background: linear-gradient($white, $white) content-box,
        linear-gradient(var(--v), $component-color4 50%, transparent 0),
        linear-gradient(to right, $component-color4 50%, $component-color2 0);
      transition: .3s;
      @media #{$breakpoint-xl} {
        width: 55px;
        height: 55px;
      }
      &.line__0 {
        transition: .3s;
        background: linear-gradient(#fff,#fff) content-box,linear-gradient(var(--v),#f1f2f4 50%,transparent 0),linear-gradient(90deg,#f1f2f4 100%,#7279ff 0)
      }
      &.line__1 {
        transition: .3s;
        background: linear-gradient($white, $white) content-box,
          linear-gradient(var(--v), $component-color4 50%, transparent 0),
          linear-gradient(to right, $component-color4 50%, $component-color2 0);
      }
      &.line__2 {
        transition: .3s;
        background: linear-gradient($white, $white) content-box,
          linear-gradient(var(--v), $component-color4 0%, transparent 0),
          linear-gradient(to right, $component-color4 50%, $component-color2 0);
      }
      &.line__3 {
        transition: .3s;
        background: linear-gradient($white, $white) content-box, 
        linear-gradient(var(--v), $component-color4 0%, transparent 0),
          linear-gradient(135deg, $component-color4 25%, #7279ff 0);
      }
      &.line__4 {
        transition: .3s;
        background: linear-gradient($white, $white) content-box,
          linear-gradient(var(--v), $component-color4 0%, transparent 0),
          linear-gradient(to right, $component-color4 0%, $component-color2 0);
      }
    }
  }
  &__content-col {
    &-bottom {
      max-width: 666px;
      margin: auto;
      @media #{$breakpoint-lg} {
        max-width: 100%;
      }
    }
  }
  &__rights {
    &__img {
      width: 100%;
      height: 168px;
      object-fit: contain;
      margin-top: 34px;
      @media #{$breakpoint-sm} {
        height: 387px;
      }
      @media #{$breakpoint-lg} {
        height: 534px;
        margin-top: 55px;
      }
      @media #{$breakpoint-xl} {
        height: 559px;
      }
      @media #{$breakpoint-xl-ex} {
        height: 790px;
      }
    }
    &__content-col {
      width: 100%;
      max-width: 666px;
      @media #{$breakpoint-lg} {
        max-width: 918px;
      }
      @media #{$breakpoint-xl} {
        max-width: 960px;
      }
      @media #{$breakpoint-xl-ex} {
        max-width: 1360px;
      }
    }
  }
  &__instruction {
    display: flex;
    align-items: center;
    &__text {
      color: $black;
      text-decoration: underline;
      font-size: 16px;
      font-family: $firagoMedium;
    }
    &__img {
      width: 20px;
      height: 20px;
      object-fit: contain;
      border-radius: 50%;
      margin-right: 10px;
    }
    .icon {
      width: 8px;
      height: 7px;
      transform: rotate(-90deg);
      margin-left: 6px;
    }
  }
  &__rotate__notification {
    width: 100%;
    height: 100vh;
    background: rgba($color: $component-color2, $alpha: 0.8);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media #{$breakpoint-xl} {
      display: none;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img {
        height: 67px;
        object-fit: contain;
        margin-bottom: 20px;
      }
      &__text {
        font-family: $firagoBold;
        font-size: 21px;
        color: $white;
        margin: 0;
      }
    }
  }
  &__dragAndDrop{
    &__container{
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__table{
    &__thead{
      background-color: $component-color8;
    }
  }
}


// რამდენიმე თამაშის მარქაფს გიწერ:

// drag and drop ცხრილში: https://xd.adobe.com/view/e310587e-c300-46db-832d-7a39767c1f07-b643/screen/a5d8116e-95e9-4a72-baf4-1f3299213f16/?fbclid=IwAR2LuyqD1Fu8YL0DlNQRU6NlZ7rMxL0Vuxh234ngwBKb4S0kvYnq349Dp7I -
// ამ გვერდზეა დიდ ეკრანზე, შემდეგ გვერდზეა სწორი და არასწორი პასუხების გამოჩენა. 1 ცისფერი გააკეთე, ერთი წითელი და 1 მწვანე ცხრილში. კლასებით იყოს წითელი და მწვანე და მერე ჯეკო დაადებს სტილებს. 
// პირდაპირ "სავარაუდო პასუხები" რომაა, იქიდან დაიწყე და ზემოთ სტანდარტული დაშორება რაც ავიღეთ, ის ქონდეს
// ვარიანტებზე ჰოვერი მსგავსია, რაც წინა თამაშში იყო, ოღონდ აქ ცისფერ ფერებშია
// პერსონაჟად პირდაპირ გიფი ჩასვი: https://drive.google.com/drive/folders/1tQWCU8hl48zqULSxMn2YgnNDdqJsXNaI?usp=sharing
// რესფონსივები ჩანს შემდეგ გვერდებზე
// მობილურებზე ცხრილი ბოლომდე არ ჩანს და ჰორიზონტალურად სქროლვადი უნდა იყოს
// სულ ბოლო ვარიანტი (პირადი ცხოვრების... რომ წერია), უნდა იყოს განმარტება. ტექსტს ქონდეს ეს ფერი (#7279FF) და მაუსის მიტანისას ასე გამოდიოდეს განმარტება: https://xd.adobe.com/view/e310587e-c300-46db-832d-7a39767c1f07-b643/screen/9fbe02b3-c40e-4e96-8f87-c747c89a4878/?fbclid=IwAR2LuyqD1Fu8YL0DlNQRU6NlZ7rMxL0Vuxh234ngwBKb4S0kvYnq349Dp7I - 
//განმარტების ტექსტი: "პირადი ცხოვრების ამსახველი ინფორმაცია შეიძლება იყოს სურათი, აუდიო/ვიდეო- ჩანაწერი, მიმოწერა, პირადი ჩანაწერები ან სხვა, რომელიც შეიცავს ადამიანის პირადი ცხოვრების ამსახველ ცნობებს."


// drag and drop ჩასაწერი ტექსტში:
// დიზაინი: https://xd.adobe.com/view/e310587e-c300-46db-832d-7a39767c1f07-b643/screen/844461f1-b8db-4d9a-8652-0f9374777b58/?fbclid=IwAR2LuyqD1Fu8YL0DlNQRU6NlZ7rMxL0Vuxh234ngwBKb4S0kvYnq349Dp7I
// ზემოთ, პაროლის ნიმუშები რო წერია, შეცდომაა - "სავარაუდო პასუხები" ეწეროს. და პირდაპირ აქედან დაიწყე, ზემოთ რამხელა ჰაერზეც წინა თამაშებზე შევთანხმდით, ის იყოს
// ვარიანტებზე ჰოვერი იგივენაირად, როგორც ზედა თამაშში
// შემდეგ გვერდებზეა რესფონსივი
// რესფონსივის მერე არის ჩასმული პასუხი მწვანედ და წითლად - სწორი და არასწორი შემთხვევები. ესეც კლასებად დაადე ფერები და ჯეკო გამოიყენებს
// პერსონაჟი აქაც გიფი
// ასევე, მწვანე/წითელი ვარიანტები სადაცაა, იქ არის  კიდევ, რომ ვარიანტთან მაუსის მიტანისას გამოდის მისი განმარტება. განმარტებების სია არის აქ: https://docs.google.com/presentation/d/17nzP4_2N8F_Pv5irNhWckyPD2RkTDOXJ/edit#slide=id.p18 - ეს და შემდეგი გვერდი
// რესფონსივი შემდეგ გვერდებზეა


// შესავსები:
// დიზაინი: https://xd.adobe.com/view/e310587e-c300-46db-832d-7a39767c1f07-b643/screen/a6263700-94fd-48ce-8d50-d792fd54a0e7/specs/?fbclid=IwAR2LuyqD1Fu8YL0DlNQRU6NlZ7rMxL0Vuxh234ngwBKb4S0kvYnq349Dp7I
// პირდაპირ სტაფილოსფერი რომაა, იქიდან დაიწყე და ზემოთ სტანდარტული დაშორება რაც ავიღეთ, ის ქონდეს
// ღილაკი წერია გადმოწერა და გვერდზე "დასრულებაც" მიუსვი, რა. დაშორება ქონდეს, როგორც სხვა თამაშებში არის 2 ღილაკს შორის
// თამაშის იდეაა, რო თითოეულ ყუთში შეუძლიათ რაღაცეების ჩაწერა
// + ჩაწერაზე კლიკისას ხდება ის, რაც ჩანს ცისფერ ყუთში - კეთდება ბულეთი და იწყება წერა ენტერზე ან გვერდით + ღილაკზე კლიკისას ტექსტი ჩაწერილია
// თითოეული ჩანაწერი ხდება ბულეთი
// ჩაწერის დროს დროებით ქრება + ჩაწერა ტექსტი 