.game__modal {
  padding-right: 0 !important;
  &-dialog {
    max-width: 100%;
    margin: 20px;
    // ::-webkit-scrollbar {
    //     width: 8px;
    //     &-track {
    //         box-shadow: inset 0 0 5px grey;
    //         border-radius: 10px;
    //     }
    //     &-thumb {
    //         background: $component-color2;
    //         border-radius: 10px;
    //         &:hover {
    //             background: $component-color2;
    //         }
    //     }
    // }
  }
  &-content {
    min-height: calc(100vh - 40px);
  }
  &-header {
    display: flex;
    justify-content: flex-end;
    padding: 34px;
  }
  &-body {
    max-width: 100%;
    margin: auto;
    padding: 55px 30px 30px 30px;
    @media #{$breakpoint-lg} {
      max-width: 1024px;
    }
    @media #{$breakpoint-xl} {
      max-width: 1326px;
    }
    @media #{$breakpoint-xl-ex} {
      max-width: 1880px;
    }
  }
  &-close {
    width: 40px;
    height: 40px;
    border: 1px solid $component-color2;
    background-color: $white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 1;
    &.center {
      position: absolute;
      left: 50%;
      top: -20px;
      transform: translateX(-50%);
    }
    .icon {
      width: 8px;
      height: 8px;
      transition: 0.3s;
    }
    &:hover {
      background-color: $component-color2;
      .icon {
        fill: $white;
      }
    }
  }
}

.game {
  &__text {
    font-family: $firagoRegular;
    color: $black;
    margin-bottom: 0;
    &.lg {
      font-size: 21px;
    }
    &.md {
      font-size: 16px;
    }
    &.mb-34 {
      margin-bottom: 34px;
    }
  }
  &__title {
    font-family: $firagoBold;
    font-size: 21px;
    color: $black;
    margin-bottom: 0;
    &.mb-34 {
      margin-bottom: 34px;
    }
    &.lg {
      @media #{$breakpoint-md} {
        font-size: 34px;
      }
    }
  }
  &__answer {
    &__drop {
      &__container {
        border: 2px dashed $component-color10;
        border-radius: 16px;
        width: 100%;
        padding: 10px;
        position: relative;
        min-height: 65px;
        &__placeholder {
          font-family: $firagoMedium;
          font-size: 16px;
          color: rgba($color: $black, $alpha: 0.3);
          margin: 0;
          position: absolute;
          z-index: 0;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
        .game__answer__container {
          border-radius: 16px;
          background-color: $component-color2;
          margin-bottom: 0;
          position: relative;
          z-index: 1;
          .game__text {
            color: $white;
          }
          &.blue{
            margin: 0;
            background-color: $component-color6;
            &:hover{
              background-color: darken($component-color6,5%);
              border-color: darken($component-color6,5%)
            }
          }
          &.error {
            background-color: $error-red;
            border: 2px solid $error-red;
            &:hover{
              background-color: darken($error-red,5%);
              border-color: darken($error-red,5%)
            }
          }
          &.success {
            background-color: $component-color9;
            border: 2px solid $component-color9;
            &:hover{
              background-color: darken($component-color9,5%);
              border-color: darken($component-color9,5%)
            }
          }
        }
      }
    }
    &__container {
      border: 2px solid $component-color11;
      border-radius: 10px;
      padding: 10px;
      cursor: pointer;
      margin-bottom: 10px;
      transition: background-color 0.3s;
      background-color: $component-color1;
      @media #{$breakpoint-lg} {
        margin-bottom: 20px;
      }
      &:hover {
        background-color: $component-color2;
        .game__text {
          color: $white;
        }
      }
      &.mr {
        margin-right: 20px;
      }
      &.blue {
        border: 2px solid $component-color6;
        &:hover {
          background-color: $component-color6;
        }
      }
      &.definition {
        position: relative;
        .definition__content {
          display: none;
          background-color: $component-color2;
          position: absolute;
          width: 100%;
          min-width: 200px;
          box-shadow: 0px 10px 20px #7279FF1A;
          font-family: $firagoRegular;
          color: $white;
          font-size: 13px;
          padding: 10px;
          z-index: 1;
          border-radius: 5px;
          margin-top: 25px;
          left: 0;
          &::after {
            content: "";
            background-color: $component-color2;
            width: 12px;
            height: 12px;
            position: absolute;
            left: 15px;
            top: -5px;
            transform: rotate(45deg);
          }
          @media #{$breakpoint-xxs} {
            min-width: 280px;
          }
          @media #{$breakpoint-md} {
            min-width: 500px;
          }
          .bold{
            font-family: $firagoBold;
          }
        }
        // .game__text{
        //   color: $component-color2;
        // }
        &:hover {
          .definition__content {
            display: block;
          }
          .game__text{
            color: $white;
          }
        }
      }
    }
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: $component-color3;
    margin: 34px 0;
    @media #{$breakpoint-lg} {
      margin: 55px 0 34px;
    }
  }
  &__img {
    &__col-relative {
      position: relative;
      display: flex;
      justify-content: center;
      @media #{$breakpoint-md} {
        display: block;
      }
    }
    &__picture {
      position: static;
      @media #{$breakpoint-xl} {
        position: absolute;
        bottom: 32px;
        left: -40px;
        &.bt-120 {
          bottom: -120px;
        }
      }
      @media #{$breakpoint-xxl} {
        left: 0;
      }
      &.bottom {
        position: static;
        @media #{$breakpoint-xl} {
          min-width: 300px;
          width: 100%;
        }
        @media #{$breakpoint-xl-ex} {
          min-width: 262px;
          left: -90px;
          position: absolute;
        }
        @media #{$breakpoint-xxl} {
          left: 0;
        }
      }
    }
    &-dog {
      margin-right: 10px;
      width: 338px;
      height: 300px;
      object-fit: contain;
      margin-bottom: 34px;
      @media #{$breakpoint-md} {
        width: 200px;
        margin-bottom: 0;
      }
      @media #{$breakpoint-xl} {
        min-width: 280px;
        width: 100%;
        margin-right: 0;
      }
    }
    &__btn__row {
      display: flex;
      flex-direction: column-reverse;
      @media #{$breakpoint-md} {
        flex-direction: row;
      }
      &.align-center {
        align-items: center;
        &-xl-ex {
          align-items: center;
          @media #{$breakpoint-xl-ex} {
            align-items: flex-end;
          }
        }
      }
    }
  }
  &__button {
    min-width: 202px;
    margin-bottom: 20px;
    margin-right: 0 !important;
    @media #{$breakpoint-md} {
      margin-bottom: 0;
    }
    @media #{$breakpoint-lg} {
      min-width: 248px;
    }
    &.mr {
      @media #{$breakpoint-md} {
        margin-right: 30px !important;
      }
    }
    &__container {
      display: flex;
      justify-content: center;
      flex-direction: column-reverse;
      margin: 0 0 14px;
      &.column {
        flex-direction: column;
        @media #{$breakpoint-md} {
          flex-direction: row;
        }
      }
      @media #{$breakpoint-md} {
        flex-direction: row;
        margin: 55px 0 37px;
        justify-content: flex-end;
      }
      @media #{$breakpoint-lg} {
        justify-content: center;
      }
    }
  }
  &__progress {
    &__cont {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      padding: 10px 20px;
      box-shadow: 0px 0px 30px #2026310d;
      border-radius: 15px;
      @media #{$breakpoint-xl} {
        padding: 23px 30px;
      }
      &-align {
        display: flex;
        justify-content: center;
        align-items: center;
        @media #{$breakpoint-md} {
          justify-content: flex-end;
        }
      }
    }
    &__text {
      font-family: $firagoSemiBold;
      color: $black;
      font-size: 14px;
      margin-bottom: 0;
      margin-right: 20px;
      @media #{$breakpoint-xxs} {
        font-size: 16px;
      }
      @media #{$breakpoint-xl} {
        margin-right: 30px;
      }
      .purple {
        color: $component-color2;
      }
    }
    &__circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      padding: 4px;
      --v: 0deg;
      background: linear-gradient($white, $white) content-box,
        linear-gradient(var(--v), $component-color4 50%, transparent 0),
        linear-gradient(to right, $component-color4 50%, $component-color2 0);
      transition: 0.3s;
      @media #{$breakpoint-xl} {
        width: 55px;
        height: 55px;
      }
      &.line__0 {
        transition: 0.3s;
        background: linear-gradient(#fff, #fff) content-box, linear-gradient(var(--v), #f1f2f4 50%, transparent 0),
          linear-gradient(90deg, #f1f2f4 100%, #7279ff 0);
      }
      &.line__1 {
        transition: 0.3s;
        background: linear-gradient($white, $white) content-box,
          linear-gradient(var(--v), $component-color4 50%, transparent 0),
          linear-gradient(to right, $component-color4 50%, $component-color2 0);
      }
      &.line__2 {
        transition: 0.3s;
        background: linear-gradient($white, $white) content-box,
          linear-gradient(var(--v), $component-color4 0%, transparent 0),
          linear-gradient(to right, $component-color4 50%, $component-color2 0);
      }
      &.line__3 {
        transition: 0.3s;
        background: linear-gradient($white, $white) content-box,
          linear-gradient(var(--v), $component-color4 0%, transparent 0),
          linear-gradient(135deg, $component-color4 25%, #7279ff 0);
      }
      &.line__4 {
        transition: 0.3s;
        background: linear-gradient($white, $white) content-box,
          linear-gradient(var(--v), $component-color4 0%, transparent 0),
          linear-gradient(to right, $component-color4 0%, $component-color2 0);
      }
    }
  }
  &__content-col {
    &-bottom {
      max-width: 666px;
      margin: auto;
      @media #{$breakpoint-lg} {
        max-width: 100%;
      }
    }
  }
  &__rights {
    &__img {
      width: 100%;
      height: 168px;
      object-fit: contain;
      margin-top: 34px;
      @media #{$breakpoint-sm} {
        height: 387px;
      }
      @media #{$breakpoint-lg} {
        height: 534px;
        margin-top: 55px;
      }
      @media #{$breakpoint-xl} {
        height: 559px;
      }
      @media #{$breakpoint-xl-ex} {
        height: 790px;
      }
    }
    &__content-col {
      width: 100%;
      max-width: 666px;
      @media #{$breakpoint-lg} {
        max-width: 918px;
      }
      @media #{$breakpoint-xl} {
        max-width: 960px;
      }
      @media #{$breakpoint-xl-ex} {
        max-width: 1360px;
      }
    }
  }
  &__instruction {
    display: flex;
    align-items: center;
    &__text {
      color: $black;
      text-decoration: underline;
      font-size: 16px;
      font-family: $firagoMedium;
    }
    &__img {
      width: 20px;
      height: 20px;
      object-fit: contain;
      border-radius: 50%;
      margin-right: 10px;
    }
    .icon {
      width: 8px;
      height: 7px;
      transform: rotate(-90deg);
      margin-left: 6px;
    }
  }
  &__rotate__notification {
    width: 100%;
    height: 100vh;
    background: rgba($color: $component-color2, $alpha: 0.8);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media #{$breakpoint-xl} {
      display: none;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__img {
        height: 67px;
        object-fit: contain;
        margin-bottom: 20px;
      }
      &__text {
        font-family: $firagoBold;
        font-size: 21px;
        color: $white;
        margin: 0;
      }
    }
  }
  &__dragAndDrop {
    &__container {
      display: flex;
      flex-wrap: wrap;
    }
    &__text{
      font-size: 21px;
      font-family: $firagoMedium;
      color: $black;
      line-height: 2;
      .game__answer__drop__container{
        display: inline-block;
        width: auto;
        min-width: 218px;
        vertical-align: bottom;
      }
    }
  }
  &__table {
    background-color: $component-color8;
    border-radius: 10px;
    border-collapse: inherit;
    border-spacing: 0px;
    border: 1px solid $component-color5;
    &__thead {
      box-shadow: 0 0 0 1px $component-color8;
      border-radius: 10px 10px 0 0;
      &__tr {
        vertical-align: middle;
      }
    }
    &__th {
      position: relative;
      border-bottom: none;
      padding: 19px !important;
      width: calc(100% / 3);
      font-family: $firagoSemiBold;
      color: $white;
      font-size: 13px;
      @media #{$breakpoint-lg} {
        font-size: 16px;
      }
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 50px;
        background-color: $white;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:first-child {
        width: auto;
      }
      &:last-child {
        &::after {
          content: none;
        }
      }
    }
    &__td {
      border-left: 1px solid rgba($color: $component-color5, $alpha: 0.4);
      vertical-align: bottom;
    }
    &__body {
      background-color: $white;
      &__tr {
        border-bottom: 1px solid rgba($color: $component-color5, $alpha: 0.4);
        &:last-child {
          border-bottom: 1px solid transparent;
          border-bottom-style: hidden;
          border-radius: 0 0 10px 10px;
          .game__table__body__th {
            border-bottom-left-radius: 10px;
          }
          .game__table__td:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
      &__th {
        color: $component-color5;
        text-align: center;
        vertical-align: middle;
        padding: 28px !important;
      }
    }
    .game__answer__container {
      background-color: $component-color6;
      margin-bottom: 10px;
      .game__text {
        color: $white;
        font-size: 13px;
        @media #{$breakpoint-lg} {
          font-size: 16px;
        }
      }
      &.mr {
        margin-right: 0;
      }
      &.error {
        background-color: $error-red;
        border: 2px solid $error-red;
      }
      &.success {
        background-color: $component-color9;
        border: 2px solid $component-color9;
      }
    }
  }
}


