.section {
  &__themes {
    margin-top: 55px;
    &__title {
      font-size: 34px;
      font-family: $firagoBold;
      color: $black;
    }
    &__search {
      &__container {
        background-color: $component-color1;
        border-radius: 16px;
        margin: 34px 0;
        padding: 30px;
        @media #{$breakpoint-md} {
          margin: 34px 0 55px;
        }
        @media #{$breakpoint-lg} {
          padding: 34px;
        }
      }
      &__title {
        color: $firagoMedium;
        font-size: 16px;
        color: $black;
        margin-bottom: 20px;
      }
      &__link {
        font-size: 14px;
        &__container {
          padding-bottom: 20px;
          @media #{$breakpoint-lg} {
            padding-bottom: 0;
            margin-top: 10px;
          }
        }
      }
      &-relative {
        position: relative;
        width: 100%;
      }
      &__line {
        width: 100%;
        height: 1px;
        background-color: rgba($color: $black, $alpha: 0.1);
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        right: 0;
        @media #{$breakpoint-lg} {
          width: 1px;
          height: 100%;
          top: 50%;
          right: 15px;
        }
        @media #{$breakpoint-xl-ex} {
          right: 50px;
        }
        @media #{$breakpoint-xxl} {
          right: 65px;
        }
      }
      &-align-center {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 12px 0;
        @media #{$breakpoint-lg} {
          margin: 0;
        }
      }
    }
    &__radiobutton__container {
      display: flex;
      flex-direction: column;
      margin-bottom: 22px;
      @media #{$breakpoint-md} {
        flex-direction: row;
      }
      @media #{$breakpoint-md} {
        margin-bottom: 12px;
      }
    }
  }
  &__theme {
    width: 100%;
    height: 100%;
    margin-top: 34px;
    margin-bottom: 34px;
    @media #{$breakpoint-md} {
      border-radius: 30px;
      margin-top: 55px;
      margin-bottom: 89px;
    }
    @media #{$breakpoint-xl} {
      margin-top: 86px;
      margin-bottom: 90px;
    }
    &__container {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      max-width: 666px;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      @media #{$breakpoint-md} {
        padding-right: 0;
        padding-left: 0;
      }
      @media #{$breakpoint-lg} {
        max-width: 918px;
        min-height: 610px;
      }
      @media #{$breakpoint-xl} {
        max-width: 1158px;
      }
      @media #{$breakpoint-xl-ex} {
        max-width: 1638px;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
      }
      @media #{$breakpoint-xxl} {
        padding-right: 0;
        padding-left: 0;
      }
    }
    &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 34px 15px;
      @media #{$breakpoint-md} {
        padding: 89px 58px;
      }
      @media #{$breakpoint-lg} {
        padding: 141px 30px;
      }
      @media #{$breakpoint-xl} {
        padding: 173px 47px;
      }
      @media #{$breakpoint-xl-ex} {
        padding: 173px 60px;
      }
      @media #{$breakpoint-xxl} {
        padding: 197px 60px 197px 109px;
      }
    }
    &__title {
      font-family: $firagoBold;
      font-size: 21px;
      color: $black;
      margin-bottom: 13px;
      @media #{$breakpoint-md} {
        font-size: 34px;
      }
    }
    &__subtitle {
      font-family: $firagoMedium;
      font-size: 16px;
      color: $black;
      margin-bottom: 21px;
      @media #{$breakpoint-md} {
        font-size: 21px;
      }
    }
    &__text {
      font-family: $firagoRegular;
      font-size: 16px;
      color: rgba($color: $black, $alpha: 0.6);
      margin-bottom: 0;
    }
    &__bg {
      width: 100%;
      height: 100%;
      min-height: 295px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $component-color13;
      @media #{$breakpoint-md} {
        min-height: 418px;
        border-radius: 30px;
      }
      @media #{$breakpoint-lg} {
        min-height: 610px;
      }
    }
    &__img {
      width: 100%;
      object-fit: contain;
      @media #{$breakpoint-md} {
        border-radius: 30px;
      }
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 14px 0 34px;
      flex-direction: column;
      @media #{$breakpoint-md} {
        flex-direction: row;
      }
      &__bottom {
        display: flex;
        align-items: center;
        padding: 30px 0;
        @media #{$breakpoint-xl-ex} {
          padding: 20px 0;
        }
        .tableOfConents__item__img {
          margin-right: 10px;
        }
        .tableOfConents__item__title {
          margin: 0 10px 0 0;
        }
        &-p {
          color: $component-color5;
          font-family: $firagoRegular;
          font-size: 16px;
          margin-bottom: 0;
          margin-left: 5px;
        }
      }
    }
    &__type__cont {
      display: flex;
      align-items: center;
      padding: 20px;
      box-shadow: 0px 0px 30px #2026310d;
      border-radius: 16px;
      background-color: $white;
      flex: none;
      &.mobile-none {
        display: flex;
        @media #{$breakpoint-md} {
          display: none;
        }
        @media #{$breakpoint-lg} {
          display: flex;
        }
      }
      &.desktop-none {
        display: none;
        @media #{$breakpoint-md} {
          display: flex;
        }
        @media #{$breakpoint-lg} {
          display: none;
        }
      }
    }
    &__page {
      padding-top: 34.5px;
      @media #{$breakpoint-md} {
        padding-top: 55px;
      }
      &__subtitle {
        font-family: $firagoMedium;
        font-size: 21px;
        color: $black;
        margin-bottom: 13px;
        &-sm {
          font-family: $firagoMedium;
          font-size: 16px;
          color: $black;
          margin-bottom: 0;
        }
      }
      &__img {
        width: 100%;
        height: 100%;
        margin: auto;
        object-fit: contain;
        border-radius: 10px;
        &__container {
          width: 100%;
          height: 100%;
          margin: auto;
          position: relative;
          border-radius: 10px;
          &:hover {
            .section__theme__page__img-hover {
              display: block;
            }
          }
          &.margins {
            margin: 34px 0 27.5px;
            @media #{$breakpoint-md} {
              margin: 55px 0;
            }
          }
        }
        &-hover {
          padding: 17.5px 30px;
          box-shadow: 0px 0px 30px #2026310d;
          border-radius: 16px;
          background-color: $white;
          display: none;
          margin-top: 10px;
          width: 100%;
          @media #{$breakpoint-md} {
            width: 302px;
            position: absolute;
            bottom: 30px;
            left: 30px;
          }
          @media #{$breakpoint-xl} {
            width: 400px;
          }
          &-h3 {
            font-family: $firagoMedium;
            font-size: 13px;
            color: $black;
            margin-bottom: 10px;
          }
          &-p {
            font-family: $firagoRegular;
            font-size: 13px;
            color: rgba($color: $black, $alpha: 0.6);
            margin-bottom: 10px;
          }
        }
      }
      &__p {
        margin-bottom: 55px !important;
      }
    }
    &__step {
      padding: 61px 30px 34px;
      box-shadow: 0px 0px 30px #2026310d;
      border-radius: 16px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      margin-bottom: 54px;
      @media #{$breakpoint-md} {
        margin-bottom: 0;
      }
      &__row {
        margin-top: 75px;
        margin-bottom: 0;
        @media #{$breakpoint-md} {
          margin-top: 109px;
          margin-bottom: 89px;
        }
        @media #{$breakpoint-xl-ex} {
          margin-top: 164px;
          margin-bottom: 144px;
        }
      }
      &__img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -20px;
      }
      &__title {
        font-family: $firagoBold;
        font-size: 16px;
        color: $black;
        margin-bottom: 13px;
      }
      &__text {
        margin-bottom: 53px !important;
      }
      &__btn {
        padding: 10.5px 17px;
        border-radius: 8px;
        font-family: $firagoMedium;
        font-size: 16px;
        color: $white;
        .icon {
          width: 7px;
          height: 5px;
          transform: rotate(-90deg);
          margin-left: 11px;
          fill: $white;
        }
      }
    }
    &__resources {
      margin: 34px 0 55px;
      @media #{$breakpoint-md} {
        margin: 34px 0 89px;
      }
      @media #{$breakpoint-lg} {
        margin: 55px 0 89px;
      }
      &__title {
        font-family: $firagoMedium;
        font-size: 21px;
        color: $black;
        margin-bottom: 34px;
      }
    }
  }
}
