.section {
    &__themes {
        margin-top: 55px;
        &__title {
            font-size: 34px;
            font-family: $firagoBold;
            color: $black;
        }
        &__search {
            &__container {
                background-color: $component-color1;
                border-radius: 16px;
                margin: 34px 0;
                padding: 34px;
            }
            &__title {
                color: $firagoMedium;
                font-size: 16px;
                color: $black;
                margin-bottom: 20px;
            }
            &__link {
                &__container {
                    margin-top: 10px;
                }
            }
            &-relative {
                position: relative;
                width: 100%;
            }
            &__line {
                width: 1px;
                height: 100%;
                background-color: rgba($color: $black, $alpha: 0.1);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
            &-align-center{
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
}
