<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="assets/img/phinternational.svg" alt="ph-international">
            </div>
        </div>
        <div class="footer__bottom">
            <div class="row">
                <div class="col-6 d-flex align-items-end">
                    <p class="footer__text">
                        ვებ-გვერდზე განთავსებული ინფორმაცია არ წარმოადგენს ამერიკის შეერთებული შტატების მთავრობის ოფიციალურ ინფორმაციას და არ ასახავს ამერიკის შეერთებული შტატების სახელმწიფო დეპარტამენტისა და ამერიკის შეერთებული შტატების მთავრობის შეხედულებებს
                    </p>
                </div>
                <div class="col-6">
                    <div class="footer__contact">
                        <a href="mailto:info@school.ge" class="footer__link footer__item">info@school.ge</a>
                        <div class="footer__line footer__item"></div>
                        <a href="#" class="footer__item footer__contact__icon">
                            <svg class="icon">
                                <use xlink:href="#icon-fb"></use>
                            </svg>
                        </a>
                        <a href="#" class="footer__item footer__contact__icon">
                            <svg class="icon">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="footer__contact mt-4">
                        <a href="termsOfUse.html" class="footer__item footer__text black">
                            მოხმარების პირობები
                        </a>
                        <div class="footer__line footer__item"></div>
                        <a href="privacy.html" class="footer__item footer__text black">
                            კონფიდენციალურობა
                        </a>
                        <div class="footer__line footer__item"></div>
                        <p class="footer__item footer__text black">© 2021 ყველა უფლება დაცულია</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>