<div class="modal fade" id="fullscreenImgModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen" id="modal-image-fullscreen">
    <div class="modal-content" id="image-fullscreen">
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
  </div>
</div>

<!-- Choose Role - Notification popup -->

<div class="modal fade notificationModal chooseRoleModal" id="chooseRoleModal" tabindex="-1" aria-labelledby="chooseRoleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl notificationModal-xl modal-dialog-centered">
    <div class="modal-content radius-16">
      <button type="button" class="game__modal-close center" data-bs-dismiss="modal" aria-label="Close">
        <svg class="icon">
          <use xlink:href="#cancel-icon"></use>
        </svg>
      </button>
      <div class="modal-body notificationModal-body padding-sm">
        <h1 class="section__themes__title">აირჩიე</h1>
        <div class="chooseRoleModal__radiobuttons">
          <label class="radiobutton__container choose__student">
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
            მოსწავლე
          </label>
          <label class="radiobutton__container choose__teacher">
            <input type="radio" name="radio">
            <span class="checkmark"></span>
            განმანათლებელი
          </label>
        </div>
        <div class="chooseRoleModal__bottom">
          <div class="document__line"></div>
          <div class="form__section__text-sm chooseRoleModal__bottom__text">
            <span>განმანათლებლისთვის აუცილებელია </span>
            <a href="login.html" class="form__section__text-sm-link">
              ავტორიზაცია
              <svg class="icon">
                <use xlink:href="#feather-arrow-up-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>