<header class="header" id="header">
  <div class="container">
    <div class="header__container">
      <a href="index.html" class="header__logo__container">
        <img src="assets/img/icons/logo.svg" alt="სამართლებრივი კულტურა" class="header__logo__img">
        <h1 class="header__logo">სამართლებრივი კულტურა</h1>
      </a>
      <nav class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__item"><a href="#" class="header__nav__item-link active">ჩვენზე</a></li>
          <li class="header__nav__item"><a href="themes.html" class="header__nav__item-link">თემები</a></li>
          <li class="header__nav__item"><a href="resources.html" class="header__nav__item-link">რესურსები</a></li>
        </ul>
        <div class="header__nav__item">
          <a href="login.html" class="header__nav__btn bt-blue">
            <svg class="icon">
              <use xlink:href="#metro-user"></use>
            </svg>
            შესვლა
          </a>
        </div>
        <div class="header__nav__item">
          <a href="#" class="header__nav__search">
            <svg class="icon">
              <use xlink:href="#ico-search"></use>
            </svg>
          </a>
        </div>
        <div class="dropdown__elem" id="1">
          <div class="dropdown__elem--inner dropdown--toggler">
            <span class="text--active dropdown--selected">
              En
            </span>
            <svg class="icon">
              <use xlink:href="#arrow-dropdown"></use>
            </svg>
          </div>
          <div class="dropdown" data-for="1">
            <nav class="dropdown__nav">
              <li class="dropdown__item dropdown__item--active">En</li>
              <li class="dropdown__item">ქა</li>
            </nav>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>