<header class="header" id="header">
  <div class="container">
    <div class="header__container">
      <a href="index.html" class="header__logo__container">
        <img src="assets/img/icons/logo.svg" alt="სამართლებრივი კულტურა" class="header__logo__img">
        <h1 class="header__logo">სამართლებრივი კულტურა</h1>
      </a>
      <nav class="header__nav">
        <div class="header__nav__menuIcon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="header__nav__list__container">
          <div class="language__mobile">
            <span class="dropdown__elem--gray">ენის არჩევა: </span>
            <div class="dropdown__elem" id="language__mobile">
              <div class="dropdown__elem--inner dropdown--toggler">
                <span class="text--active dropdown--selected">
                  En
                </span>
                <svg class="icon">
                  <use xlink:href="#arrow-dropdown"></use>
                </svg>
              </div>
              <div class="dropdown" data-for="language__mobile">
                <nav class="dropdown__nav">
                  <li class="dropdown__item dropdown__item--active">En</li>
                  <li class="dropdown__item">ქა</li>
                </nav>
              </div>
            </div>
          </div>
          
          <ul class="header__nav__list">
            <li class="header__nav__item"><a href="about.html" class="header__nav__item-link active">ჩვენზე</a></li>
            <li class="header__nav__item"><a href="themes.html" class="header__nav__item-link">თემები</a></li>
            <li class="header__nav__item"><a href="resources.html" class="header__nav__item-link">რესურსები</a></li>
          </ul>
          <div class="header__nav__item__footer">
            <div class="footer__contact center">
              <a href="mailto:info@school.ge" class="footer__link footer__item">info@school.ge</a>
              <div class="footer__line footer__item"></div>
              <a href="#" class="footer__item footer__contact__icon">
                <svg class="icon">
                  <use xlink:href="#icon-fb"></use>
                </svg>
              </a>
              <a href="#" class="footer__item footer__contact__icon">
                <svg class="icon">
                  <use xlink:href="#youtube"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="header__nav__item">
          <a href="login.html" class="header__nav__btn bt-blue">
            <svg class="icon">
              <use xlink:href="#metro-user"></use>
            </svg>
            შესვლა
          </a>
        </div>
        <div class="header__nav__item search">
          <a href="#" class="header__nav__search">
            <svg class="icon">
              <use xlink:href="#ico-search"></use>
            </svg>
          </a>
        </div>
        <div class="dropdown__elem language__desktop" id="1">
          <div class="dropdown__elem--inner dropdown--toggler">
            <span class="text--active dropdown--selected">
              En
            </span>
            <svg class="icon">
              <use xlink:href="#arrow-dropdown"></use>
            </svg>
          </div>
          <div class="dropdown" data-for="1">
            <nav class="dropdown__nav">
              <li class="dropdown__item dropdown__item--active">En</li>
              <li class="dropdown__item">ქა</li>
            </nav>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>