<div class="container">
    <header class="header">
        <div class="header__container">
            <a href="index.html" class="header__logo__container">
                <img src="assets/img/icons/kickstarter.svg" alt="kickstarter" class="header__logo__img" >
                <h1 class="header__logo">Kickstarter</h1>
            </a>
            <nav class="header__nav">
                <ul class="header__nav__list">
                    <li class="header__nav__item"><a href="" class="header__nav__item-link">პროექტის შესახებ</a></li>
                    <li class="header__nav__item"><a href="" class="header__nav__item-link">პროექტის შესახებ</a></li>
                    <li class="header__nav__item"><a href="" class="header__nav__item-link">პროექტის შესახებ</a></li>
                </ul>
                <a href="" class="header__nav__btn header__nav__item">
                    <svg class="icon">
                        <use xlink:href="#metro-user"></use>
                    </svg>
                </a>
                <a href="" class="header__nav__search header__nav__item">
                    <svg class="icon">
                        <use xlink:href="#search"></use>
                    </svg>
                </a>
                <div class="dropdown header__nav__item">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        En
                        <svg class="icon">
                            <use xlink:href="#arrow-dropdown"></use>
                        </svg>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">English</button>
                      <button class="dropdown-item" type="button">Russian</button>
                    </div>
                  </div>
            </nav>
        </div>
    </header>
</div>

<p>2</p>

<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>
<p>2</p>